/target
/logs
/temp
/Links
/.idea
/.Cargo
/index.crates.io

# Test files and directories
test_*.ps1
test_*.bat

# Ignore all INI files by default
*.ini
Cargo.lock

# Except for the main config and blacklist files
!config.ini
!blacklist.ini
